/.dotnet/**
/.output/**
/.vscode/**
/packages/**
/PSModules/**
/Source/.vs/**
/Source/packages/**
/Test/Server.txt

**/obj/**
**/bin/**

*.orig
*.pdb
*.suo
*.user

/Rivet/LICENSE
/Rivet/NOTICE
/Rivet/*.md
